<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Short link </title>
</head>

<body>
  <form action="api/link" method="post">
    <label for="link">Link</label>
    <input type="text" name="link" id="link">
    <button>Send</button>
  </form>
</body>

</html>